<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

<!-- charset attribute specifies the character encoding for the HTML document. -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

<!--The http-equiv used to simulate an HTTP response header.-->

  <meta name="viewport" content="width=device-width, initial-scale=1">



  <title>CatchTheWav</title>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/8bit-wonder" type="text/css"/>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="../public/css/styles.css" rel="stylesheet" type='text/css'>

</head>
<body>
  <br>
  <br>
  <h1  class="regFont">catch the </h1><h1  class="pixelFont">.wav</h1>
<style>
    h1 {display:inline;}
</style>
<div id="ocean">

</div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            
            <h2>Upload File</h2>
            <h4></h4>
            <div class="progress">
              <div class="progress-bar" role="progressbar"></div>
            </div>
            <button class="btn btn-lg upload-btn encrypt" type="button">Encrypt File</button>
            <button class="btn btn-lg upload-btn decrypt" type="button">Decrypt File</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>
  <input id="upload-input" type="file" name="uploads[]" multiple="two"></br>
 </div>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script> 
  
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="../public/javascript/uploads.js" ></script>
  <script src="../public/javascript/ocean.js" > </script>

</body>
</html>

